.h11 {

    height: 180px;
    width: 90%;
    background-color: rgba(48, 169, 224, 0.73);
    text-align: center;
}
.h22 {
    display: flex;
    justify-content: center;
    gap: calc(40px);
    font-size:small ;
}
.grey {
    color: darkgray;
}
.unguu {
    display: flex;
    
    gap: calc(10px);
    font-size:small ;
}
.h44 {
    background-color: aquamarine;
}
.h55 {
    background-color: lawngreen;
}
.h66 {
    border-radius: 100px;
}
.haha {
    display: flex;
    gap: calc(10px);
    font-size:small ;
}
.oooo {
    background-color: crimson;
}
.ssss {
    border-radius: 100px;
}