#page {
    height: 600px;
    max-width: 600px;
    background-color: bisque;
    border: 2px solid blueviolet;
}
#page h1 {
    text-align: center;
    color: blueviolet;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.container .container-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 1px solid green;
}