.img1:hover {
    filter: grayscale();
}
.img3 {
    border-radius: 100%;
    width: 400px;
    height: 400px;
}
.img4 {
    box-shadow: 20px 20px 3px;
}
.img5 {
   height: 100%;
   width: 100%;
}
.img6 {
    border: 5px  dashed black;
}
.img7 {

}
.img8 {
    filter: grayscale();
}
.img8:hover {
filter: contrast();
}
.img9 {
    object-fit: contain;
    width: 500px;
    height: 600px;
}
.img10 {
   filter: sepia(200%) 
}
.img11 {

}

